<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="payslip-print.js"></script>
        <script type="text/javascript" src="/services/js/resources-core/services/loader.js?id=ide-view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/resources-core/services/loader.js?id=ide-view-css" />
        <theme></theme>
        <link rel="stylesheet" href="/services/web/codbex-hera-print/Payslip/print-payslip.css">
        <script src="/services/web/codbex-hera-print/Payslip/print-payslip-controller.js">
        </script>
    </head>

    <body>
        <div class="date-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <img src="https://www.codbex.com/favicon.png"
                                        style="width: 100%; max-width: 50px" />
                                </td>

                                <td>
                                    Date: <b>{{Date | date: 'yyyy-MM-dd'}}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>


            <div class="payslip-jumbo">Payslip</div>


            <table cellpadding="0" cellspacing="0">
                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    Employee: <b>{{Employee.Name}}</b><br />
                                    Personal number: <b>{{Employee.PersonalNumber}}</b><br />
                                    Department: <b>{{Department.Name}}</b><br />
                                    Job role: <b>{{JobRole.Name}}</b> <br />
                                    Pay period: <b>{{PayrollEntry.StartDate | date: 'yyyy/MM/dd'}} -
                                        {{PayrollEntry.EndDate | date: 'yyyy/MM/dd'}}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <hr />
            <br />

            <div class="earnings-deductions">
                <table cellpadding="0" cellspacing="0">
                    <tr class="heading">
                        <td>Earnings</td>
                        <td>Amount</td>
                    </tr>
                    <tr>
                        <td>Base Salary</td>
                        <td>{{Salary.Gross}}</td>
                    </tr>

                    <tr ng-repeat="earning in Earnings">
                        <td>{{ earning.Name }}</td>
                        <td>{{ earning.Amount }} {{ Currency.Code }}</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><b>Total:</b> {{EarningsTotal}} {{ Currency.Code }}</td>
                    </tr>
                </table>

                <table cellpadding="0" cellspacing="0">
                    <tr class="heading">
                        <td>Deductions</td>
                        <td>Amount</td>
                    </tr>

                    <tr ng-repeat="deduction in Deductions">
                        <td>{{ deduction.Name }}</td>
                        <td>{{ deduction.Amount }} {{ Currency.Code }}</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><b>Total:</b> {{DeductionsTotal}} {{ Currency.Code }}</td>
                    </tr>
                </table>
            </div>

            <hr />
            <br />

            <div>
                <b>Net pay:</b> {{EarningsTotal - DeductionsTotal}} {{Currency.Code}}
            </div>

        </div>
    </body>

</html>
